a{text-decoration: none;}
footer {
	float: left;
	width: 100%;
	background: #000;
	padding: 35px 0px 25px 0px;
}
.copyright_text {
	text-align: center;
}
.copyright_text p {
	margin: 0;
	font-size: 14px;
	color: #fff;
}
.footer-social-icons {width: 100%;text-align: center;padding-top: 0px;padding-bottom: 25px;}
.mysocial {padding: 0;margin: 0;text-align: center;}
.mysocial li {display: inline-block;margin: 0px 10px;}
.social_icon i {position: relative;}
.container-fluid.socialicons-part {float: left;padding: 100px 0px;}
.social_icon::before {content: '';position: absolute;top: 0;left: 0;right: 0;bottom: 0;background-color: inherit;transform: rotate(45deg);border-radius: inherit;opacity: 1;transition: transform 500ms;}
.social_icon::before, .social_icon {
	background: #8D99FF;
	transition: all 0.3s ease-in-out;
}.mysocial li a:hover .social_icon::before, .mysocial li a:hover .social_icon{background: #fff;}
.mysocial a:hover .social_icon {color: #2c0432;}
.mysocial a:hover{text-decoration:none;}
.social_icon {
	width: 40px;
	height: 40px;
	border-radius: 9px;
	color: #fff;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}