.wt-icon-box-wraper.bg-white.p-tb50.p-lr20 p {
    margin-bottom: 30px;
}
.animate_line::after, .animate_line::before { content: ""; height: 4px; width: 0px; position: absolute; transition: all 0.5s ease 0s; -webkit-transition: all 0.5s ease 0s; z-index: -1; }
.animate_line::before {
	right: 4px;
	top: -8px;
}
.shadow { box-shadow: 4px 5px 30px rgba(0, 0, 0, 0.2) !important; }
.wt-icon-box-wraper { position: relative; }
.p-tb50 { padding-bottom: 50px; padding-top: 50px; }
.p-lr20 { padding-left: 20px; padding-right: 20px; }
.icon-lg i { font-size: 60px; }
.bold-title { position: relative; z-index: 1; overflow: inherit; }
.bold-title h1::after, .bold-title h2::after, .bold-title h3::after, .bold-title h4::after { position: absolute; content: attr(data-title); color: rgba(210, 210, 210, 0.4); font-weight: bold; font-size: 60px; text-transform: uppercase; top: -22px; left: 0%; width: 100%; z-index: -1; }
.wt-icon-box-wraper .wt-tilte { margin-top: 0; font-size: 22px; font-weight: bold; }
.site-button-link::before { position: absolute; content: "\f178"; font-family: 'FontAwesome'; left: 50%; top: 0px; -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; -ms-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out; opacity: 0; }
.site-button-link { font-weight: 700; }
.animate_line:hover::before { background-color: #f14d5d; }
.animate_line:hover::after, .animate_line:hover::before {
	width: 50%;
	height: 50%;
	background: #f14d5d;
}
.icon-lg.inline-icon.m-b50.text-left i { font-size: 30px; margin-bottom: 20px; }
.animate_line::after, .animate_line::before { content: ""; height: 4px; width: 0px; position: absolute; transition: all 0.5s ease 0s; -webkit-transition: all 0.5s ease 0s; z-index: -1; }
.animate_line { position: relative;margin-top: 50px; }
.animate_line::after {
	left: 3px;
	bottom: -9px;
}
.wt-icon-box-wraper .wt-tilte {
	margin-top: 10px;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 25px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.site-button-link {
	background: #f14d5d;
	padding: 10px 15px;
	color: #fff;
	border: 1px solid #f14d5d;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 1px;
} 
.animate_line:hover .site-button-link {
    background: #fff;
    border: 1px solid #f14d5d;
    color: #f14d5d;
    text-decoration: none;
}
#our-services {
	
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
	padding-top: 60px;
	padding-bottom: 80px;
}
.row.servicerow {
	position: relative;
	z-index: 99;
}
.sections-title.whitetitle h2 {
	color: #fff;
	margin-bottom: 0;
}
.soverlay {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	background: #000;
	opacity: 0.5;
	top: 0;
}