@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-fluid {
  float: left;
}

.mainmenu a {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  padding: 0 !important;
  border-bottom: 2px solid transparent;
  transition: all .5s;
}

.mainmenu a:hover {
  border-bottom: 2px solid #8d99ff;
}

.mainmenu li {
  margin: 0px 15px;
}

.header-btn button {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 12px 22px;
}

.btn-primary {
  background: #f14d5d;
  border-color: #f14d5d;
  border-radius: 0;
  transition: all .5s;
}

.btn-primary:hover {
  background: #f14d5d;
  border-color: #f14d5d;
  border-radius: 0;
  transition: all .5s;
}

.btn-primary:hover {
  background: #8d99ff;
  border-color: #8d99ff;
}

.sections-title {
  text-align: center;
  float: left;
  width: 100%;
}

.sections-title h2 {
  position: relative;
  font-weight: 700;
  margin-bottom: 30px;
  padding-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.sections-title h2::before,
.sections-title h2::after {
  position: absolute;
  content: '';
  background: #ccd0f2;
  width: 50px;
  height: 2px;
  left: 50%;
  margin-left: -22px;
  bottom: 0px;
}

.sections-title h2::after {
  margin-left: -12px !important;
  bottom: -5px !important;
}

.container-fluid.aboutus-section {
  padding-top: 55px;
  padding-bottom: 90px;
}

.about-left-img img {
  width: 100%;
  box-shadow: 25px 25px 0px -1px rgba(210, 208, 209, 0.16);
  border-style: solid;
  border-width: 22px 0px 0px 23px;
  border-color: #ccd0f2;
  border-radius: 0px 0px 0px 0px;

}

.about-right-content {
  padding-left: 55px;
}

.about-right-col {
  align-self: center;
}

.readmore-btn {
  text-align: left;
}

.readmore-btn .btn {
  color: #fff;
  background-color: #2c0432;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 12px 15px 12px 40px;
  border: none;
  border-radius: 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease 0s;
  font-family: 'El Messiri', sans-serif;
  box-shadow: 0px 10px 13px -7px #000000c2, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 10px 13px -7px #000000c2, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.readmore-btn .btn:hover {
  color: #fff;
  padding: 12px 25px;
}

.readmore-btn .btn::before,
.readmore-btn .btn::after {
  content: "\f0a9";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  transform: translateY(-50%);
  position: absolute;
  left: 11px;
  top: 26px;
  z-index: 0;
  transition: all 0.5s;
  font-size: 21px;
}

.readmore-btn .btn::after {
  content: '';
  background-color: #755779;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  left: 21px;
  top: 49%;
  z-index: -1;
  transition: all 0.5s;
}

.readmore-btn .btn:hover:before {
  display: none;
}

.readmore-btn .btn:hover:after {
  height: 400px;
  width: 400px;
}

/**/



.about_section {
  position: relative;
}

.aboutoverlay {

  position: absolute;

  top: 8px;

  bottom: 0;

  background: #161521;

  left: 0;

  -webkit-transition: all 1.5s ease-in-out;

  transition: all 1.5s ease-in-out;

  right: calc(50% + 300px);

}

.about_section {

  position: relative;

  float: left;

  padding-bottom: 100px;

  padding-top: 50px;

}

.about__thumb-wrapper {

  position: relative;

  z-index: 1;

}

.pr-100 {

  padding-right: 100px;

}

.ml-70 {

  margin-left: 70px;

}

.about__thumb {

  position: relative;

  animation-duration: 1s;

  animation-delay: 0.5s;

  animation-iteration-count: 1;

  animation-fill-mode: both;

}

.about__thumb.w-img img {

  height: auto;

  max-width: 100%;

  border: none;

  border-radius: 0;

  box-shadow: none;

}

.tp-thumb-overlay {

  position: absolute;

  content: "";

  top: 0;

  left: 0%;

  width: 0%;

  height: 100%;

  background-color: var(--tp-grey-4);

  -webkit-animation-duration: 1s;

  animation-duration: 1s;

  -webkit-animation-name: tpoverlay;

  animation-name: tpoverlay;

  /* animation-delay: 0.3s; */

  animation-timing-function: cubic-bezier(.785, .135, .15, .86);

  /* animation-duration: 1s; */

  animation-delay: 0.5s;

  animation-iteration-count: 1;

  animation-fill-mode: both;

  z-index: 99;

}

.about__thumb-text {

  position: absolute;

  top: 30%;

  left: -26px;

  -webkit-transform: rotate(-90deg) translateY(-188px);

  -moz-transform: rotate(-90deg) translateY(-188px);

  -ms-transform: rotate(-90deg) translateY(-188px);

  -o-transform: rotate(-90deg) translateY(-188px);

  transform: rotate(-90deg) translateY(-188px);

  z-index: -1;

}

.about__thumb-text h3 {

  color: #E6E6EC;

  font-size: 100px;

  font-weight: 700;

  text-transform: uppercase;

  position: relative;

  overflow: hidden;

  margin: 0;

}

.about__thumb-text h3::after {

  position: absolute;

  content: attr(data-text);

  top: 0;

  left: 0;

  color: #f14d5d;

  overflow: hidden;

  word-wrap: normal;

  -webkit-transition: all 2s ease-out 0s;

  -moz-transition: all 2s ease-out 0s;

  -ms-transition: all 2s ease-out 0s;

  -o-transition: all 2s ease-out 0s;

  transition: all 2s ease-out 0s;

  -moz-animation: about-text 2s ease-in-out 1s forwards infinite alternate-reverse;

  -webkit-animation: about-text 2s ease-in-out 1s forwards infinite alternate-reverse;

  animation: about-text 2s ease-in-out 1s forwards infinite alternate-reverse;

}

@-webkit-keyframes about-text {
  0% {
    width: 0%
  }

  100% {
    width: 100%
  }
}

@-moz-keyframes about-text {
  0% {
    width: 0%
  }

  100% {
    width: 100%
  }
}

@-ms-keyframes about-text {
  0% {
    width: 0%
  }

  100% {
    width: 100%
  }
}

@keyframes about-text {
  0% {
    width: 0%
  }

  100% {
    width: 100%
  }
}

.about__experience {

  position: absolute;

  right: 20px;

  bottom: 30px;

  padding: 15px 31px 8px;

  background-color: white;

  box-shadow: 4px 5px 10px rgb(3 4 9 / 18%);

  z-index: 99;

}

.about__experience h4 {

  font-size: 80px;

  font-weight: 700;

  background: linear-gradient(78.5deg, #5A5BFF 23.32%, #f14d5d 83.37%);

  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;

  background-clip: text;

  text-fill-color: transparent;

  line-height: 1;

  margin-bottom: 0;

}

.about__experience p {

  font-size: 20px;

  font-weight: 700;

  color: #000;



}

.tp-btn {

  display: inline-block;

  font-size: 16px;

  font-weight: 700;

  color: #fff;

  background: #f14d5d;

  text-align: center;

  position: relative;

  z-index: 1;

  overflow: hidden;

  letter-spacing: -.02em;

  padding: 10px 30px;
}

.tp-btn:hover {

  color: #fff;

  background-color: #6364db;

}


.tp-btn:hover {

  color: #fff;

  background-color: #6364db;

  text-decoration: none;

}

.aboutright_col {



  align-self: center;

}

.section__title-wrapper h2 {

  font-size: 75px;

  font-weight: 700;

  letter-spacing: -.04em;

  line-height: 1;

}

.section__title-wrapper.mb-25 h2 span {

  color: #f14d5d;

}

.section__title-wrapper {

  margin-bottom: 30px;

}

.about__btn {

  margin-top: 35px;

}

.about__wrapper p {

  font-size: 18px;

  line-height: 30px;

  margin: 0;

}

.row.abputus_row {

  margin-top: 60px;

  float: left;

  width: 100%;

}

.aboutright_col .section__title-pre {
  text-transform: uppercase;
  color: #8d99ff;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 10px;
  display: block;

}

.abputus_row .header-btn {
  margin-top: 30px;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 50px;
  background: #8d99ff70;
  color: white;
  cursor: pointer;
  border-radius: 100px;
  border: none;
  width: 50px;
  height: 50px;
}

.back-to-top i {
  position: relative;
  bottom: 10px;
}

.back-to-top:hover {
  background: #8d99ffb2;
}